<% provide(:title, @event['title']) %>

<div class="well">
  <div class="row event-div">
    <h1 id="event-title"><%= @event['title'] %></h1>
  </div>
  <div class="row event-div">
    <div class="col-md-1"></div>
    <div class="col-md-4"><%= event_image_generated %></div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="event-date">
        <%= @event_date %> | <%= @event_time %>
      </div>
      <div class="event-venue">
        <%= link_to @event['venue_name'], "/venues/" + @event['venue_id'], :target => '_blank' %>
      </div>
      <div class="event-address">
        <%= @event['address'] %><br/>
        <%= @event['city'] + ", " + @event['region_abbr'] %><br/>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row  event-div">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p><%= @event_description.html_safe %></p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row event-div">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p>
        <strong>Price:</strong>
        
        <% case @event['price'] %>
        <% when 'free' %>
          Free
        <% when nil %>
          Unknown
        <% else %>
          $<%= @event['price'] %>
        <% end %>
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row event-div">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p><strong>Categories:</strong></p>
      <% category_list = @event['categories']['category'] %>
      <ul>
        <% if category_list == nil then %>
          <li>This event is not categorized</li>
        <% else %>
          <% category_list.each do |c| %>
          <li> <%= c['name'].html_safe %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>