<% provide(:title, @event['title']) %>

<div class="well">
  <div class="row">
    <div class="title"><%= @event['title'] %></div>
  </div>
  <hr/>
  <div class="row">
    <%= event_image_generated %>
    <div class="date"><%= @event_date %></div>
    <div class="time"><%= @event_time %></div>
    <div class="venue"><%= link_to @event['venue_name'], "/venues/" + @event['venue_id'] %></div>
    <div class="address"><%= @event['address'] %></div>
    <div class="address"><%= @event['city'] + ", " + @event['region_abbr'] + "  " + @event['postal_code'].to_s %></div>
  </div>
  <hr/>
  <div class="row">
    <div class="title">Event Details</div>
  </div>
  <hr/>
  <div class="row">
    <p>Description: <%= @event_description.html_safe %></p>
    <p>Price: <%= @event['price'] %></p>
  </div>
</div>