<% provide(:title, @event['title']) %>

<div class="well">
  <div class="row event-div">
    <h3 id="event-title"><%= @event['title'] %></h3>
  </div>
  <div class="row event-div">
    <div class="col-md-1"></div>
    <div class="col-md-4"><%= event_image_generated %></div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <span class="event-info"><%= @event_date %></span>
      <span class="event-info"><%= @event_time %></span>
      <span class="event-info"><%= link_to @event['venue_name'], "/venues/" + @event['venue_id'], :target => '_blank' %></span>
      <span class="event-info"><%= @event['address'] %></span>
      <span class="event-info"><%= @event['city'] + ", " + @event['region_abbr'] + "  " + @event['postal_code'].to_s %></span>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row  event-div">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p><%= @event_description.html_safe %></p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row event-div">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p>
        <strong>Price:</strong>
        <% if @event['free'] %>
          Free
        <% else %>
          <%= @event['price'] %>
        <% end %>
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row event-div">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p><strong>Categories:</strong></p>
      <% category_list = @event['categories']['category'] %>
      <ul>
        <% if category_list == nil then %>
          <li>This event is not categorized</li>
        <% else %>
          <% category_list.each do |c| %>
          <li> <%= c['name'].html_safe %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>